#Don't include pictures that will be used in blog post later
Pictures/

#Don't include notes you're taking, those will be included in the blog posts later
notes/

# Don't include node_modules lol
node_modules/

# Don't include reference images and fonts
references/

