/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body style */
body {
    font-family: 'Garamond', 'EB Garamond';
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Container style */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    color: #29293f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header style */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
}

header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

header p {
    font-size: 1em;
    margin-top: 0.5em;
}

/* Section styles */
section {
    margin: 20px 0;
}

section h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #333;
    padding-bottom: 0.2em; /* Further reduced padding-bottom */
    margin-bottom: 0.3em; /* Further reduced margin-bottom */
}

.job, .school {
    margin-bottom: 1.5em;
}

.job h3, .school h3, .certifications h3 {
    font-size: 1.2em;
    color: #333;
}

.job h4, .school h4, .certifications h4 {
    font-size: 1em;
    color: #666;
    margin-top: 0.3em;
}

/* List styles */
ul {
    margin-left: 1em;
}

li {
    margin-bottom: 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}